body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    position: relative;

    background-image: url('bg.jfif');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

p {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 15px;
    border-radius: 9px;
    max-width: 500px;   /* limits line length */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 70px;
}

h1 {
    margin-top: 20px;
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

/* corner images */
#statement-img {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 300px;
    height: auto;
    z-index: 9;
}

#fumodance-img {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 300px;
    height: auto;
    z-index: 9;
}

/* TOP BAR */
.topbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: black;
    padding: 10px;
    z-index: 20;
}

.topbar a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
}

/* SMALLER BLOG IMAGES */
#cirn9car-img{
width:300px;
height:auto;
}

/* also good to limit all blog images */
#bouldercirno-img,
#fumopopcycle-img{
max-width:400px;
height:auto;
}

/* ASK BOX */
.askbox{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: white;
    border: 2px solid black;
    padding: 10px;
    width: 200px;
    z-index: 20;
}

.askbox textarea{
    width: 100%;
    height: 60px;
}